[Unit]
Description=System monitoring script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/system-monitor.sh
